#facebox .b {
  background:#fff url(/images/b.png);
}

#facebox .tl {
  background:transparent url(/images/bcorner.png) top left;
}

#facebox .tr {
  background:transparent url(/images/bcorner.png) top right;
}

#facebox .bl {
  background:transparent url(/images/bcorner.png) bottom left;
}

#facebox .br {
  background:transparent url(/images/bcorner.png) bottom right;
}

#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  text-align: left;
}

#facebox .popup {
  position: relative;
}

#facebox table {
  border-collapse: collapse;
  width: 410px;
}

#facebox td {
  border-bottom: 0;
  padding: 0;
}

#facebox .body {
  padding: 10px;
  background: #fff;
  width: 370px;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
  display:inline;
}

#facebox .footer {
  padding-bottom: 5px;
  margin-bottom: 5px;
  text-align: right;
  width:66px;
  height:22px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 199;
}

* html #facebox_overlay { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
