{% extends 'common/templates/base_sidebar.html' %}
{% load nonce avatar vcard base format %}
{% block title %}{{view.display_nick}}{% endblock %}

{% block content %}
{% if user_can_post %}
  {% include_extend 'common/templates/message_form.html' %}
    {% block classmessage %}channel{% endblock %}
    {% block channel_title %}
      <div id="actions">
          {% if not user_is_admin %}
          <a class="leave" href="{% url_for view request %}?channel_part=&amp;nick={{request.user.nick|urlencode}}&amp;channel={{view.nick|urlencode}}&amp;{{request.user|nonceparam:"channel_part"}}">Leave {{view.display_nick}}</a>
          <span>You are a member.</span>
          {% else %}
          <a class="settings" href="{{view.url}}/settings">Edit settings</a>
          {% endif %}
      </div>
      <h1 class="fn">
        <span class="nickname">{{view.display_nick}}</span>
      </h1>
    {% endblock %}
    {% block message_title %}<h2>What's happening?</h2>{% endblock %}
  {% endinclude_extend %}
{% else %}
  {% include 'form_error.html' %}
  <div class="main">
    <div class="vcard clearfix" id="profile">
      {% with view as actor %}
        {% include 'common/templates/vcard_full.html' %}
      {% endwith %}
      {% if request.user %}
      <p id="actions" class="clearfix">
        <a class="join" href="{% url_for view request %}?channel_join=&amp;nick={{request.user.nick|urlencode}}&amp;channel={{view.nick|urlencode}}&amp;{{request.user|nonceparam:"channel_join"}}">
          + Join
        </a> {{view.display_nick}} &amp; express forward!
      </p>
      {% endif %}
    </div>
  </div>
{% endif %}

<div id='stream'>
  <h2>Collaborative {{POST_NAME|plural}} in channel {{ view.display_nick }}</h2>
  {% include_extend 'common/templates/stream.html' %}
  {% block no_posts %}<div class="highlight"><p>No one has posted to this channel yet.</p></div>{% endblock %}
  {% endinclude_extend %}
  {% include 'common/templates/paging.html' %}
{% comment %}
  {% include 'common/templates/feeds.html' %}
{% endcomment %}
</div>
{% endblock %}

{% block sidebar %}
{% include 'channel/templates/sidebar_profile.html' %}
{% include 'common/templates/sidebar_members.html' %}
{% include 'channel/templates/sidebar_userpoboxes.html' %}
{% include 'channel/templates/sidebar_childrentags.html' %}
{% endblock %}
