{% extends 'common/templates/base_sidebar.html'%}
{% block title %}About{% endblock %}
{% block content %}
<div class="content-wrapper">
  <h1>About {{SITE_NAME}}</h1>
  <p>
    {{SITE_NAME}} is a private funded startup from Silicon valley, California, USA.
  </p>
  <h2>Why {{SITE_NAME}}?</h2>
  <p>
    {{SITE_NAME}} attempts to bring collaborative power of Web 2.0 technologies to
    friends, collegues to connect, collaborate for skills advancement, project
    executions, mentoring and success
  </p>
  <p>
    {{SITE_NAME}} is flexible enough to enable real time conversations at Personal
    level and at a Chennel/Group Level.
  </p>
  <h2>Can the site stand for the increased load?</h2>
  <p>
    <a href="http://{{DOMAIN}}">{{SITE_NAME}}.com</a> is build to last.
    Thanks to Google, the site is powered by Google app engine with hosting on
    Google massive infrastructure.
  </p>
</div>
{% endblock %}
